* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5fff5;
}

/* NAVBAR */
header {
  background-color: #2e7d32;
  color: white;
  padding: 18px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-size: 15px;
}

/* MAIN */
.container {
  padding: 40px 60px;
}

.welcome {
  background: linear-gradient(to right, #2e7d32, #43a047);
  color: white;
  padding: 35px;
  border-radius: 12px;
  margin-bottom: 40px;
}

.welcome h3 {
  font-size: 26px;
  margin-bottom: 8px;
}

/* CATEGORIES */
.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-bottom: 40px;
}

.category {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

.category:hover {
  transform: translateY(-5px);
}

.category:active {
  background-color: #2e7d32;
  color: white;
  transform: scale(1.05);
}

.search {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 25px;
}

.loader {
  display: none;
  text-align: center;
  margin: 40px 0;
}

.spinner {
  width: 45px;
  height: 45px;
  border: 4px solid #c8e6c9;
  border-top: 4px solid #2e7d32;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader p {
  color: #2e7d32;
  font-size: 15px;
}

/* PRODUCTS */
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.product {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.25s ease;
}

.product h4 {
  margin-bottom: 5px;
  color: #1b5e20;
}

.product p,
h5 {
  font-size: 14px;
  margin-bottom: 8px;
}

.product button {
  width: 100%;
  padding: 8px;
  background-color: #2e7d32;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  background-color: #2e7d32;
  color: white;
}

@media (max-width: 900px) {
  header,
  .container {
    padding: 20px;
  }

  .categories,
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .categories,
  .products {
    grid-template-columns: 1fr;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
