* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4fff4;
}

/* NAVBAR */
header {
  background-color: #2e7d32;
  color: white;
  padding: 18px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-size: 15px;
}

/* MAIN */
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 40px 60px;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 40px;
  flex: 1;
}


h2 {
  color: white;
  margin-bottom: 25px;
}

/* CART ITEMS */
.cart-items {
  background: white;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.cart-items #cart-head {
  font-weight: 600;
  font-size: large;
  color: #044309;
}

.item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 15px;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  align-items: center;
}

.item:last-child {
  border-bottom: none;
}

.item h4 {
  color: #2e7d32;
}

.qty-box {
  border: 1px solid #ccc;
  padding: 6px 10px;
  width: 60px;
  text-align: center;
  border-radius: 5px;
}

/* QUANTITY CONTROLS */
.qty-controls {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 6px;
}

.qty-controls button {
  width: 32px;
  height: 32px;
  border: none;
  background-color: #2e7d32;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

.qty-controls button:hover {
  background-color: #256628;
}

.qty-controls span {
  min-width: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.remove {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 0.5rem;
  background-color: #e53935;
  outline: none;
  border: none;
  border-radius: 10px;
}
.remove:hover {
  background-color: #a90805;
}
.remove:active {
  background: #e53935;
}

/* SUMMARY */
.summary {
  background: white;
  border-radius: 12px;
  padding: 25px;
  height: fit-content;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.summary h3 {
  margin-bottom: 20px;
  color: #1b5e20;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 15px;
}

.total {
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
}

.checkout {
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  background-color: #2e7d32;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #1b5e20;
}

footer {
  /* margin-top: 60px; */
  text-align: center;
  padding: 20px;
  background-color: #2e7d32;
  color: white;
}

@media (max-width: 900px) {
  header,
  .container {
    padding: 20px;
  }

  .container {
    grid-template-columns: 1fr;
  }
}

.displayDiv {
  display: none;
}
