* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f4f6f9;
  color: #333;
}

/* HEADER */
header {
  background: #2e7d32;
  color: white;
  padding: 18px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-size: 22px;
}

header a {
  font-size: 15px;
}

/* PROFILE CARD */
.container {
  max-width: 420px;
  margin: 60px auto;
  background: white;
  border-radius: 14px;
  padding: 35px 30px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

/* AVATAR */
.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #2e7d32;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 15px;
}

/* NAME & ROLE */
#name {
  font-size: 22px;
  margin-bottom: 4px;
}

#role {
  color: #777;
  font-size: 14px;
  margin-bottom: 25px;
}

.edit-input {
  width: 100%;
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* INFO */
.info {
  text-align: left;
  margin-bottom: 25px;
}

.info p {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 15px;
}

.info b {
  color: #555;
}

/* BUTTON */

.buttons {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.edit-btn {
  width: 100%;
  padding: 12px;
  background: #2e7d32;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
}

.logout-btn {
  width: 100%;
  padding: 12px;
  background: #ea1010;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
}

.edit-btn:hover {
  background: #256628;
}
.logout-btn:hover {
  background: #960d0d;
}

/* MOBILE */
@media (max-width: 500px) {
  header {
    padding: 15px 20px;
  }

  .container {
    margin: 30px 15px;
  }
}
